annotated-types==0.7.0
anyio==4.12.0
fastapi==0.123.3
greenlet==3.2.4
h11==0.16.0
httptools==0.7.1
idna==3.11
packaging==25.0
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
PyYAML==6.0.3
SQLAlchemy==2.0.44
starlette==0.50.0
typing_extensions==4.15.0
uvicorn==0.38.0
uvloop==0.22.1
watchfiles==1.1.1
